.page-header {
  background: linear-gradient(180deg, $color-dark-blue 85%, $color-transparent 100%);
  color: $color-default-white;
  line-height: 18px;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 35px;

  @include vp-1023 {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 20px;
    padding-bottom: 25px;
  }

  @include vp-767 {
    padding-top: 15px;
    padding-bottom: 20px;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1220px;
  margin: 0 auto;

  @include vp-1023 {
    padding: 0 26px;
  }

  @include vp-767 {
    padding: 0 0 0 10px;
  }
}

.page-header__logo-desktop{
  @include vp-767 {
    display: none;
  }
}

.page-header__logo-mobile {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.page-header__mail {
  display: flex;
  align-items: center;
  margin-left: 37px;
  margin-bottom: 5px;

  @include vp-1023 {
    margin-left: auto;
    margin-bottom: 15px;
  }

  @include vp-767 {
    margin-bottom: 6px;
    margin-left: auto;
    margin-right: 38px;
  }
}

.page-header__phone {
  display: flex;
  align-items: center;
  margin-right: 42px;
  margin-bottom: 5px;

  @include vp-1023 {
    margin-right: 30px;
    margin-left: 38px;
    margin-bottom: 15px;
  }

  @include vp-767 {
    margin-right: 29px;
    margin-left: 0;
    margin-bottom: 10px;
  }
}

.page-header__mail-text,
.page-header__phone-text {
  margin-left: 15px;

  @include vp-1023 {
    display: none;
  }
}

.page-header__button {
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-default-white;
  background-color: $color-transparent;
  border: 1px solid $color-default-white;
  letter-spacing: 0.05em;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px;
  width: 160px;
  margin-right: 60px;
  margin-bottom: 5px;
  display: inline-block;

  @include vp-1023 {
    display: none;
  }
}
