.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 350px; //десктоп

  @include vp-1439 {
    padding: 0 109px;
  }

  @include vp-1023 {
    padding: 0 50px; //переход на таблет
    max-width: 770px;
  }

  @include vp-767 {
    padding: 0 25px;  //переход на мобилку
    max-width: 320px;
  }
}
